COMPOSE_PROJECT_NAME=document-converter

API_PORT=8088

MONGO_CONNECTION_STRING=mongodb://host.docker.internal:27017
MONGO_DATABASE_NAME=document_converter
MONGO_CONVERSION_JOBS_COLLECTION_NAME=conversionJobs

CONVERTER_MAX_UPLOAD_BYTES=52428800
CONVERTER_POLLING_INTERVAL_SECONDS=30
CONVERTER_CONVERSION_TIMEOUT_SECONDS=120
CONVERTER_WORKER_ID=converter-worker-1
CONVERTER_JOB_LOCK_SECONDS=300

TZ=Europe/Istanbul
